<nav class="menu">
    
    <ul>
        <li><a href="/">videojuegos</a></li>
        <li><a href="/">ordenadores</a></li>
        <li><a href="/">consolas</a></li>
        <li><a href="/galeria">galeria</a></li>
    </ul>

</nav>