<!DOCTYPE html>
<html lang="en">



<head>
    <%- include('partials/head', {title: head_title}) %>
</head>

<body>

    
    <aside id="offcanvas">
        <%- include('partials/offcanvas') %>
    </aside>
    
    <header id="top">
        <%- include('partials/header') %>
    </header>
     
    <section id="cta">
        <div class="backdrop"></div>
        <div class="inner">
            <h1>RetroBlog</h1>
            <p>Un blog para amantes del retro</p>
            
        </div>
    </section>


    <footer>
        <%- include('partials/footer') %>
    </footer>
    
    <script src="javascripts/front.js"></script>
</body>
</html>